@font-face {
  font-family: "bodyfont";
  src: url("./fonts/Neurpol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "headerfont";
  src: url("./fonts/sabreshark.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
